include /usr/share/nginx/modules/*.conf;

events {
    worker_connections 1024;
}

http {
    log_format  main  '$remote_addr - $remote_user [$time_local] "$request" '
                      '$status $body_bytes_sent "$http_referer" '
                      '"$http_user_agent" "$http_x_forwarded_for"';

    access_log  /var/log/nginx/access.log  main;

    sendfile            on;
    tcp_nopush          on;
    tcp_nodelay         on;
    keepalive_timeout   65;
    types_hash_max_size 4096;

    include             /etc/nginx/mime.types;
    default_type        application/octet-stream;

    include /etc/nginx/conf.d/*.conf;

    # nginx 负载均衡配置
    upstream k8s {
    {% for host in groups['k8s-master'] %}
    server {{ host }}:6443;
    {% endfor %} 
	ip_hash;
    }
    

    server {
        listen       6443;
        listen       [::]:6443;
        server_name  _;
        root         /usr/share/nginx/html;
	

	location / {
		proxy_pass http://k8s;
		index  index.html index.htm index.jsp;
	    }
    }
}
